<div class="container" style="display: flex; flex-direction: row-reverse;">
  <button class="btn btn-primary mb-3 mt-4">Login</button>
</div>


<div style="display: flex; align-items: center; justify-content: center; flex-direction: column; flex-wrap: wrap;"
  class="mb-3">
  <form style="max-width: 50%;">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

<aside style="border: 2px solid red">
  <p class="h3">
    Cosas que faltan:
  </p>
  <p>
    Hola Claudio! Estamos corrigiendo tu trabajo integrado y hemos notado que el login no está para poder editar
    componentes, además faltan componentes como educación y proyectos. Será que podes agregar lo que falta por favor?
    Tenés tiempo hasta el 20/11. Saludos!
  </p>
</aside>
