<div class="place" id="place">
    <div class="textZone">
        <h2>Mas sobre mi:</h2>
        <p>Soy Claudio Matías Correa Espínola, programador Java Back-End. Desde mediados de mayo trabajo en NTT-DATA en
            el proyecto RCE-SADE.<br><br>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Tempore aperiam atque cumque similique eaque? Eos, vel neque expedita quas amet nemo. Natus odio
            consequatur, dignissimos esse sequi quasi saepe ratione!</p>
        <a href="https://ar.nttdata.com/about-us" target="_blank">Conocé más</a>
    </div>
    <video src="../../assets/videos/nttdata.mp4" autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"
        muted loop></video>
    <img src="../../assets/images/mask600.jpg" alt="Mask">
</div>