<div class="titulo-container">
  <p class="h5">{{habilidad?.nombre}}</p>
  <div class="botones" *ngIf="estaLogueado()">
    <button class="btn btn-light" (click)="modificarHabilidad()">
      <span class="material-icons">edit</span>
    </button>
    <button class="btn btn-light" (click)="eliminarHabilidad()">
      <span class="material-icons">close</span>
    </button>
  </div>
</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="habilidad?.capacidad" aria-valuemin="0"
    aria-valuemax="100" [style.width.%]="habilidad?.capacidad"></div>
</div>
