<div class="skillsContainer">
    <p class="h4">Habilidades:</p>
    <div class="skills">
        <div class="frontend">
            <p><small>HTML</small></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100">
                    90%
                </div>
            </div>
            <p><small>CSS</small></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100">
                    90%
                </div>
            </div>
            <p><small>JavaScript</small></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                    aria-valuemax="100">
                    70%
                </div>
            </div>
            <p><small>TypeScript</small></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0"
                    aria-valuemax="100">
                    60%
                </div>
            </div>
            <p><small>Angular</small></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0"
                    aria-valuemax="100">
                    45%
                </div>
            </div>
        </div>
        <div class="backend">
            <p><small>PL/SQL</small></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0"
                    aria-valuemax="100">
                    75%
                </div>
            </div>
            <p><small>Java</small></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0"
                    aria-valuemax="100">
                    85%
                </div>
            </div>
            <p><small>Spring-Boot</small></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0"
                    aria-valuemax="100">
                    80%
                </div>
            </div>
            <p><small>C#</small></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0"
                    aria-valuemax="100">
                    65%
                </div>
            </div>
            <p><small>Python</small></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100">
                    50%
                </div>
            </div>
        </div>
    </div>
</div>
<app-projects></app-projects>